<% if current_user %>
<div id="user_info">
  <p>User: <%= current_user.name %></p>
</div>
<div id="bugs">
  <!--<%= button_to "New Bug", new_bug_path, method: :get %>-->

  <div id="report_bug">
    <%= link_to new_bug_path do %>
    <div id="bug_press">
      <i class="fa fa-bug" aria-hidden="true" style="font-size:48px;"></i>
      <p> New Bug </p>
    </div>
    <% end %>
  </div>

  <% if current_user.role == "bug manager" %>
    <% if current_user.trello_token == "N/A" %>
      <div id="link_button">
        <button type="button" class="btn">
          <%= link_to "Link to Trello", link_to_trello_path %>
        </button>
      </div>
    <% end %>
  <% end %>





  <div id="filter_bugs">
    <h2>Bug Filter</h2>
    <%= form_tag(root_path, :method => "get", id: "search-form") do %>
    <%= select_tag 'search',
    options_for_select(["", "reported", "assigned", "waiting", "resolved"],
    params[:search]) %>
    <%= submit_tag "Search" %>
    <% end %>
  </div>
  <div id="reported_bugs">
    <h2>Reported Bugs</h2>
    <% if @bugs.any?%>

    <% @bugs.each do |b| %>
    <%=render 'bug_loop', b: b %>
    <% end %>

  </div>
  <div id="your_bugs">
    <h2>Your Bugs</h2>
    <% if @bugs.any?%>

    <% @bugs.each do |b| %>
    <% if current_user.name == User.find(b.user_id).name%>
    <%=render 'bug_loop', b: b %>
    <% end %>
    <% end %>
    <%end%>
  </div>
  <% end %>
</div>
<% else %>
<h1>Please Register or Sign In</h1>
<div id="login_controls">
<%= button_to "Sign Up", new_user_registration_path, :class => 'btn-primary login_buttons', method: :get %>
<%= button_to "Login", new_user_session_path, :class => 'btn-primary login_buttons', method: :get %>
</div>

<% end %>
