<h1>New Bug</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@bug, html: { multipart: true }) do |f| %>

    <% if @bug.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@bug.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @bug.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
    <% end %>

    <h2>Required Fields</h2>
  </br>


  <%= f.label :title %>
  <%= f.text_field :title, class: 'form-control' %>

  <p>What did you expect to happen:  </p>
  <%= f.text_area :expected_outcome, class: 'form-control' %></br>

  <p>What actually happened: </p>
  <%= f.text_area :actual_outcome, class: 'form-control' %></br>

  <p>How did you attempt to solve the problem: </p>
  <%= f.text_area :solution_attempt, class: 'form-control',
   placeholder: 'example: clicked button X' %></br>

  <p>Please enter the URL where the problem occured: </p>
  <%= f.text_field :url, class: 'form-control' %>

  <h2>Optional Fields</h2>
</br>

<p>Please enter any other useful information: (Such as cohort, coachee, coach, etc.) </p>
<%= f.text_area :other_info, class: 'form-control' %></br>

<p>Please enter a screenshot of the problem: </p>
<%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>

<p>Please enter the CSV file you were trying to upload: </p>
<%= f.file_field :file %>


<%= f.submit "Report a Bug", class: "btn btn-primary" %>
<% end %>

<script type="text/javascript">
$('#bug_picture').bind('change', function() {
  var size_in_megabytes = this.files[0].size/1024/1024;
  if (size_in_megabytes > 5) {
    alert('Maximum file size is 5MB. Please choose a smaller file.');
  }
});
</script>
</div>
</div>
